.container-light{
    background-color: var(--white);
    height: 30rem;
    width: 30rem;
    border: 1px solid var(--light-gray);
   box-shadow:  0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px var(--light);
}