.card {
    width: 15rem !important;
    max-width: 20rem;
    min-width: fit-content;
    margin: 0.5rem !important;
}

.header-static {
    grid-area: header;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 999;
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: main;
    margin: 6rem 3rem;
    min-height: 100vh;
}