<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href='https://instantui-cl.netlify.app/component.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href='./whish.css'>


    <link rel="stylesheet" href='../index.css'>
    <title>Wishlist</title>
</head>

<body>
    <div class="container">
        <div
            class="header-simple header-static bg-primary d-flex-row border-radius-none padding-none margin-none justify-content-between">

             <a href="../../index.html" class="logo">Instant-Grocery</a>
            <div
                class="d-flex align-items-center text-primary border-color-gray border-radius-sm overflow-hidden search">
                <input type="text" class="input-sm box-shadow-none margin-none search" placeholder="Seacrh...">
                <div class="material-icons align-self-center bg-white padding-4 text-color-primary">search</div>
            </div>


            <div class="d-flex-row menu-icons justify-content-around">
                <a href="../login/login.html" class="align-self-center heading-3 btn">Logout</a>
                <a href="../cart/cart.html" class="heading-3 margin-8 material-icons header-icon">shopping_cart</a>
                <a href="../wishlist/wishlist.html" class="heading-3 margin-8 material-icons header-icon">favorite</a>
            </div>
        </div>

        <div class="main">


            <div class="comodities d-flex justify-content-center flex-wrap">

                <div class="card border-radius-sm margin-8 ">
                    <div class="position-relative">
                        <img class="card-img-main border-radius-sm image-small width-20"
                            src="../../assets/images/prod16.jpg" alt="food">
                        <i
                            class="material-icons btn btn-icon  position-absolute card-icon-dismiss btn-danger-outline">favorite</i>

                    </div>
                    <div class="card-primary">
                        <div class="card-subtitle para4">Strawbery</div>
                        <h2 class="card-title"><span class="text-muted">₹</span>100/250gm</h2>
                    </div>
                    <div class="card-action">
                        <div class="btn border-radius-sm btn-primary w-100 margin-none text-align-center"> Move to cart
                        </div>
                    </div>
                </div>
                <div class="card border-radius-sm margin-8 width-20">
                    <div class="position-relative">
                        <img class="card-img-main border-radius-sm" src="../../assets/images/prod3.jpg" alt="food">
                        <i
                            class="material-icons btn btn-icon  position-absolute card-icon-dismiss btn-danger-outline">favorite</i>

                    </div>
                    <div class="card-primary">
                        <div class="card-subtitle para4">Banana</div>
                        <h2 class="card-title"><span class="text-muted">₹</span>50/Kg</h2>
                    </div>
                    <div class="card-action">
                        <div class="btn border-radius-sm btn-primary w-100 margin-none text-align-center"> Move to cart
                        </div>
                    </div>
                </div>
                <div class="card border-radius-sm margin-8 width-20">
                    <div class="position-relative">
                        <img class="card-img-main border-radius-sm" src="../../assets/images/prod4.jpg" alt="food">
                        <i
                            class="material-icons btn btn-icon  position-absolute card-icon-dismiss btn-danger-outline">favorite</i>

                    </div>
                    <div class="card-primary">
                        <div class="card-subtitle para4">Carrot</div>
                        <h2 class="card-title"><span class="text-muted">₹</span>30/kg</h2>
                    </div>
                    <div class="card-action">
                        <div class="btn border-radius-sm btn-primary w-100 margin-none text-align-center"> Move to cart
                        </div>
                    </div>
                </div>
                <div class="card border-radius-sm margin-8 width-20">
                    <div class="position-relative">
                        <img class="card-img-main border-radius-sm" src="../../assets/images/prod17.jpg" alt="food">
                        <i
                            class="material-icons btn btn-icon  position-absolute card-icon-dismiss btn-danger-outline">favorite</i>

                    </div>
                    <div class="card-primary">
                        <div class="card-subtitle para4">Bringal</div>
                        <h2 class="card-title"><span class="text-muted">₹</span>45/kg</h2>
                    </div>
                    <div class="card-action">
                        <div class="btn border-radius-sm btn-primary w-100 margin-none text-align-center"> Move to cart
                        </div>
                    </div>
                </div>

                <div class="card border-radius-sm margin-8 width-20">
                    <div class="position-relative">
                        <img class="card-img-main border-radius-sm" src="../../assets/images/prod19.jpg" alt="food">
                        <i
                            class="material-icons btn btn-icon  position-absolute card-icon-dismiss btn-danger-outline">favorite</i>

                    </div>
                    <div class="card-primary">
                        <div class="card-subtitle para4">Corn</div>
                        <h2 class="card-title"><span class="text-muted">₹</span>55/kg</h2>
                    </div>
                    <div class="card-action">
                        <div class="btn border-radius-sm btn-primary w-100 margin-none text-align-center"> Move to cart
                        </div>
                    </div>
                </div>

                <div class="card border-radius-sm margin-8 width-20">
                    <div class="position-relative">
                        <img class="card-img-main border-radius-sm" src="../../assets/images/prod13.jpg" alt="food">
                        <i
                            class="material-icons btn btn-icon  position-absolute card-icon-dismiss btn-danger-outline">favorite</i>

                    </div>
                    <div class="card-primary">
                        <div class="card-subtitle para4">Oreo</div>
                        <h2 class="card-title"><span class="text-muted">₹</span>20/packet</h2>
                    </div>
                    <div class="card-action">
                        <div class="btn border-radius-sm btn-primary w-100 margin-none text-align-center"> Move to cart
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
    </div>
    <footer class="footer margin-top d-flex justify-content-around  align-items-center ">
        <div class="d-flex-column">
            <div class="text-primary font-weight-bolder para3 padding-4">Info</div>
            <div class="text-primary para4 padding-4">Our Story</div>
            <div class="text-primary  para4 padding-4">Farmers Story</div>
            <div class="text-primary  para4 padding-4">Blogs</div>

        </div>
        <div class="d-flex-column">
            <div class="text-primary font-weight-bolder para3 padding-4">Support</div>
            <div class="text-primary para4 padding-4">FAQ</div>
            <div class="text-primary  para4 padding-4">Complaint</div>
            <div class="text-primary  para4 padding-4">Refund and Return Policy</div>
        </div>
        <div class="d-flex-column">
            <div class="d-flex-column">
                <div class="text-primary font-weight-bolder para3 padding-4">Socials</div>
                <div class="text-primary para4 padding-4">Twitter</div>
                <div class="text-primary  para4 padding-4">Facebook</div>
                <div class="text-primary  para4 padding-4">Instagram</div>
            </div>
    </footer>
</body>

</html>