<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href='https://instantui-cl.netlify.app/component.css'>
    <link rel="stylesheet" href='./signup.css'>
    <link rel="stylesheet" href='../index.css'>
    <title>Login</title>
</head>

<body>

    <div
        class="header-simple bg-primary d-flex-row border-radius-none padding-none margin-none justify-content-between">

        <a href="../../index.html" class="logo">Instant-Grocery</a>
        <div class="d-flex align-items-center text-primary border-color-gray border-radius-sm overflow-hidden search">
            <input type="text" class="input-sm box-shadow-none margin-none search" placeholder="Seacrh...">
            <div class="material-icons align-self-center bg-white padding-4 text-color-primary">search</div>
        </div>


        <div class="d-flex-row menu-icons justify-content-around">
            <a href="../login/login.html" class="align-self-center heading-3 btn">Login</a>
            <a href="../cart/cart.html" class="heading-3 margin-8 material-icons header-icon">shopping_cart</a>
            <a href="../wishlist/wishlist.html" class="heading-3 margin-8 material-icons header-icon">favorite</a>
        </div>
    </div>

    <div class="container-center">
        <div class="container-light d-flex-column align-items-center  border-radius-md">
            <div class="terms heading2 text-color-light-black text-primary font-weight-bolder">Signup</div>
            <div class="d-flex-column w-75 margin-16 ">
                <label for="username" class="para4  m-8 label">Email Address</label>
                <input type="email" id="username" class="input border-color-gray margin-none"
                    placeholder="Enter Your Email Id" required>
                <label for="username" class="para4  m-8 label">Password</label>
                <input type="password" id="username" class="input border-color-gray margin-none"
                    placeholder="Enter Your Password" required>

                <div class="d-flex align-items-center terms">
                    <div><input type="checkbox" name="number" class="input input-checkbox" value="one" id="one"></div>
                    <div><label class="label" for="one">I accept all Terms and Conditions</label></div>
                </div>
                <button class="btn btn-primary w-100 margin-none primary-color-bg">Submit</button>
                <a href="../login/login.html" class="justify-self-center align-self-center terms">Already have an
                    Account</a>
            </div>
        </div>
    </div>
</body>

</html>