<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href='https://instantui-cl.netlify.app/component.css'>
    <link rel="stylesheet" href='./signup.css'>
    <link rel="stylesheet" href='../index.css'>
    <title>Homepage</title>
</head>
<body>
    <div class="header-simple d-flex-row border-radius-none padding-none margin-none justify-content-between">
      
        <div class="logo">Instant</div>
    <div class="d-flex align-items-center text-primary border-color-gray border-radius-sm overflow-hidden search"> 
        <input type="text" class="input-sm box-shadow-none margin-none search" placeholder="Seacrh...">
        <div class="material-icons align-self-center bg-white padding-4 text-color-primary" >search</div>    
    </div>
  
   
    <div class="d-flex-row menu-icons justify-content-around">
        <a href="../login/login.html" class="align-self-center heading-3 btn">Login</a>
        <a href="../cart/cart.html" class="heading-3 margin-8 material-icons header-icon" >shopping_cart</a>
        <a href="../wishlist/wishlist.html" class="heading-3 margin-8 material-icons header-icon" >favorite</a>
    </div>
</div>
    <div class="container-center">